:root{
    --cols:16;

}
body{
    font-family: monospace;
    min-width: 0;
    background-image: url("./images/darkness.png");

}
#header{
    color:red;
    font-size: 30px;
    text-align: center;
}
#container{
    height:650px;
    width:650px;
    padding:100px;
    display:grid;
    grid-template-columns: repeat(var(--cols), minmax(0,1fr));
    grid-template-rows: repeat(var(--cols),minmax(0,1fr));

    
}
.container-items{
    background: white;

    outline: 1px solid red;
    
}
.sketch{
    background-color: #707070;
}
#box1{
    display: inline-flex;
}
#clear{
    border-radius:5%;
    width:100px;
    height:70px;
    font-size: 24px;
    font-weight: 600;
    color:red;
}
#clear:hover{
    box-shadow: 5px 5px 5px red;
    transform: scale(1.1);
}

#ui{
    color:red;
    background-image: url("./images/carbon_fibre.png");
    font-size:18px;
    height:700px;
    display:flex;
    gap:2.3em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-style:groove;
    border-color: red;
    height:450px;
    width:450px;
    margin-top:200px;
}

#gridchange{
    font-family: monospace;
    border-radius:5%;
    width:100px;
    height:70px;
    margin-top:10px;
    font-size: 24px;
    font-weight: 600;
    color:red;
    margin-top: -30px;
    
}
#heading{
    background-color: white;
}
#instr{
    background-color: white;
    margin-bottom: -20px;
}
#l1{
    margin-bottom: -30px;
    margin-top: 15px;
}
#l2{
    margin-bottom: -30px;
    margin-top: 15px;
}

#gridchange:hover{
    box-shadow: 5px 5px 5px red;
    transform: scale(1.1);
}
#container:hover{
    transform: scale(1.02);
}
#size:hover{
    transform: scale(1.05);
}
#footer{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: auto;
}